.first-section{
    background-image: url("../assets/MacBook Pro - 12.png");
}

.navbar-list a:link{
    text-decoration: none;
}

.navbar-list ul{
    list-style-type: none;
}

.navbar-list a:active{
    text-decoration: none;
    color: black;
}

.second-section{
    background: url("../assets/logo.png");
}